@font-face
{
	font-family: 'MorePerfectDOSVGA';
	src: url('fonts/MorePerfectDOSVGA.ttf');
}

body
{
	font-family: 'MorePerfectDOSVGA', 'sans-serif';
	color: #FFF;
	background-color: #000;
}
h2{
	text-align: center;
}

canvas{
	display: block;
	margin: auto;
	border: 3px solid green;
	background-color: #000;
}
#heading
{
	text-align: center;
}
#player1
{
	float: left;
}
#player2
{
	float: right;
}

#player1score, #player2score
{
	font-weight: bold;
	color: green;
}

#btn
{
	float: center;
}
